//// Image Grid
%image-grid {
  position: relative;
  z-index: 3200;
}

// Partner Grid
.image-grid-partner {
  @extend %image-grid;
  padding: 0 40px;
  margin: 80px auto;
  .flex-box-container-center {
    gap: 40px;
  }
}

// Content Grid
.image-grid-content {
  @extend %image-grid;
  padding: 0 4px;
  margin: 8px auto;
  .flex-box-container-center {
    gap: 20px;
  }
}

// Media Queries
@media only screen and (max-width: 800px) {
  .image-grid-partner {
    img {
      max-width: 25vw;
    }
  }
}
